@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    float: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
font-family: 'Poppins', sans-serif;
font-weight: 600;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #173242;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #173242;
}
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #173242;
    
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    margin: 10px 0px;
}
section{
    margin: 40px 0px;
}
.line {
    height: 3px;
    width: 50px;
    background: #fdba16;
    margin: 20px 0px 20px 0px;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 0px 70px;
}
.top img{
    height: 60px;
    width: auto;
}
.top div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.top div .material-icons{
    font-size: 26px;
    color: #fdba16;
}
.top div p{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 0px 70px;

}
nav .nav-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
nav .nav-list li{
    font-size: 14px;
    font-weight: 700;
    color: #173242;
    transition: ease 300ms all;
    padding: 10px 0px;
}
nav .nav-list li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #173242;
    transition: ease 300ms all;
}
nav .nav-list img{
    height: 60px;
    width: auto;
}
nav .nav-list li:hover{
    font-size: 15px;
    color: #fdba16;
    cursor: pointer;
}
nav div i{
    color: #fdba16;
    margin: 0 5px;
    font-size: 20px;
}
.front-page{
    /* background-image: url('image-3.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image-3.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.front-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.front-page div{
    padding: 0px 30px;
}
.front-page h1{
    font-weight: 900;
    color: #fff;
    font-size: 40px;
    margin: 20px 0px;
}
.front-page h1 span{
    color: #fdba16;
}
.front-page h4{
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    margin: 20px 0px;

}
.front-page button{
    padding: 10px 30px;
    background: #fdba16;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.front-page button:hover{
    cursor: pointer;
    color: #fdba16;
    background: #fff;
}

.overview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    margin: 20px 70px 0px 70px;
}
.overview .image-side{
    width: 100%;
} 
.overview .image-side img{
    width: 600px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about div{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.about div h2,
.about div h6{
    color: #fff;
    margin: 0px 200px;
    text-align: center;
}
.about{
    background-image: url('wide-1.jpg');
}
.projects{
    margin: 40px 70px 0px 70px;
}
.projects .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.projects .row .card{}
.projects .row .card img{
    height: auto;
    width: 100%;
}
.projects .row .card .more{
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 300ms all;
    margin-top: 5px;
}
.projects .row .card .more:hover{
    color: #fdba16;
    cursor: pointer;
}
.projects button{
    padding: 10px 20px;
    background: #fdba16;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
.contact{
    background: #fff;
}
.contact .header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image-4.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    height: 35vh;
}
.contact .header h6{
    color: #fff;
}
.contact .contact-body {
    margin: -100px 200px 50px 200px;
    padding: 50px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add this line */
}

.contact .row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.contact .row .left h3{
    color: #fdba16;
}
.contact .row .left .item{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0px;
}
.contact .row .left .item i{
    color: #fdba16;
    font-size: 16px;
    padding: 10px;
    border-radius: 50%;
    background: #173242;
}
.contact .row .left .item span p{
    margin: 0;
}
.contact .row .left .item span h6{
    font-size: 12px;
}
.right .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: transparent;
    right: 0;
}
.right .row input{
    border: none;
    padding: 10px;
    background: #ebf0f2;
    width: 90%;
    color: #000;
    margin: 10px 0px;
}
.right input{
    border: none;
    padding: 10px;
    background: #ebf0f2;
    width: 95%;
    color: #000;
    margin: 10px 0px;
}
.right textarea{
    border: none;
    padding: 10px;
    background: #ebf0f2;
    width: 95%;
    color: #000;
    margin: 10px 0px;
}
.right button{
    padding: 10px 50px;
    background: #173242;
    border: none;
    color: #fff;
    width: 98%;
}
.contact .contact-body .row .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.map{
    margin-top: 0;
}
.contact{
    margin-bottom: 0;
}

.partners{
    background: #ebf0f2;
    padding: 20px 0px;
    color: #fff;
}
.partners .content{
    margin: 30px 70px 0px 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.partners .content .left h3{
    color: #fdba16;
}
.partners .content .right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.partners .content .right .card{
    background: #173242;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners .content .right .card img{
    height: 40px;
    width: auto;
}

.our-services{
    background: #173242;
    padding: 0 0 20px 0px;
}
.our-services .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}
.our-services .top h3{
    color: #fff;
}
.our-services .cards {
    margin: 30px 70px 0px 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.our-services .cards .card{
    padding: 50px 40px;
    border: 1px solid #fff;
    border-top: 4px solid #fdba16;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-services .cards .card .circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #fdba16;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-services .cards .card .circle i{
    color: #fff;
    font-size: 24px;
}
.our-services .cards .card  h4{
    margin: 10px 0px;
    color: #fdba16;
}
.our-services .cards .card  p{
    margin: 10px 0px;
    color: #fff;
    font-size: 12px;
}
.our-services .cards .card .more{
    color: #fdba16;
}
.our-services .cards .card .more:hover{
    cursor: pointer;
}
footer{
    background: #173242;
    padding: 30px 100px 60px 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    color: #fff;
}
footer div img{
    width: 200px;
    height: auto;
}
footer div li{
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px 0px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer div li i{
    font-size: 7px;
}
footer div span{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
footer div h6{
    color: #fdba16;
    font-size: 16px;
    margin: 10px 0;
}

.details{
    height: 40vh;
    background: #fdba16;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.details h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #173242;
    margin-bottom: 20px;
}
.details-body{
    background: #173242;
    padding:70px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    color: #fff;
}
.details-body div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.details-body div img{
    width: 500px;
    height: auto;
}
.details-body div p span,
.details-body div h4 span{
    color: #fdba16;
}

.blog{
    margin: 0px 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}
.blog .card{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.blog .card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.blog .card .text-overlay{
    margin: 0px;
    padding: 0px;
}
.blog .card .text-overlay h6{
    color: #173242;
}
.blog .card .text-overlay h5{
    color: #fdba16;
}
.blog .card .uploader{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.blog .card .uploader img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.blog .card .uploader .left{
    display: flex;
    flex-direction: column;
}
.blog .card .uploader .left p{
    margin-top: -5px;
    color: #173242;
}
.blog-details{
    padding: 30px 250px;
}
.gold-price{
    padding: 30px 200px;
}
.gold-price table{
    width: 100%;
}
.gold-price table tr th{
    background: #fdba16;
    padding: 0px 10px;
}
.gold-price table tr th span{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}
.gold-price table tr th span p{
    background: #e0cd9c;
    padding: 5px 40px;
}
.gold-price table tr td div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.gold-price table .trr{
    background: #e8dfc8;
    padding: 5px 0;
}
.gold-price table .trr td div span {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.gold-price table .trr td{
    font-size: 14px;
    font-weight: 500;
    color: #173242;
}
.gold-price table .trr td div span li{
    font-size: 14px;
    font-weight: 300;
    color: #173242;
}
.gold-price table .trr td div span li#tsh{
    font-size: 14px;
    font-weight: 600;
    color: #173242;
}

.projects-page{
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.projects-page .card{
    height: 460px;
    position: relative;
}
.projects-page .card .primary{
    bottom: 0;
    position: absolute;
    bottom: 0;          
    left: 0;            
    width: 96%;        
    padding: 10px; 
    background: rgba(255, 255, 255, 0.5);
    color: white; 
}
.projects-page .card .primary p{
    color: #000;
    font-weight: 600;
}

.contact_us{
    margin: 70px 150px;
}
.contact_us .form-part{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin: 0px 0px 50px 0px;
}
.contact_us .form-part .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.contact_us .form-part .left .row input{
    padding: 10px;
    width: 90%;
    background: none;
    color: #173242;
    border: 1px solid #cfdde6;
    margin: 10px 0px;
}
.contact_us .form-part .left input{
    padding: 10px;
    width: 95%;
    background: none;
    color: #173242;
    border: 1px solid #cfdde6;
    margin: 10px 0px;
}
.contact_us .form-part .left textarea{
    padding: 10px;
    width: 95%;
    background: none;
    color: #173242;
    border: 1px solid #cfdde6;
    margin: 10px 0px;
}
.contact_us .form-part .left button{
    padding: 10px 50px;
    background: #cfdde6;
    color: #173242;
    border: none;
}
.contact_us .form-part .right{
    background: #cfdde6;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact_us .detail-part{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 70px 0px;
}
.contact_us .detail-part .card{
    background: #cfdde6;
    padding: 20px;
}
.contact_us .detail-part .card .row{
    display: flex;
    gap: 20px;
    align-items: center;
}