{% extends 'administrator/base3.html' %}
{% load static %}
{% block content %}

<div class="serviceAdd">
    <h3>Blog Edit <small style="font-size: 12px;">(Image: 1920*1080px)</small></h2>
    <form method="post" id="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.title.label_tag }} {{ form.title }}
        </div>

        <div>
            {{ form.image.label_tag }} {{ form.image }}
        </div>

        <!-- Create the editor container -->
        <div id="editor-container"></div>
        <!-- Hidden input to store the content -->
        <input type="hidden" name="body" id="body">

        <button type="submit" style="padding: 10px 30px; margin-top: 20px;">Save</button>
    </form>
  </div>
    

    <!-- Quill Library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor-container', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': '1'}, {'header': '2'}, { 'font': [] }],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    ['bold', 'italic', 'underline'],
                    [{ 'align': [] }],
                    ['link', 'image']
                ]
            }
        });

        // Set the initial content of the editor
        quill.root.innerHTML = "{{ title|safe }}";

        // On form submit, update the hidden input with the Quill data
        document.getElementById('post-form').onsubmit = function() {
            var body = document.querySelector('input[name=body]');
            body.value = quill.root.innerHTML;
        };
    </script>

{% endblock %}