{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIES CO LTD</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/90ee3bc580.js" crossorigin="anonymous"></script>
    <!-- css -->
     <link rel="stylesheet" href="{% static 'app/index.css' %}">

</head>
<body>

    <div class="top-nav">
        <div class="top">
            <img src="{% static 'app/images/logo_final.png' %}" alt="" class="reveal">
            <div class="reveal">
                <span class="material-icons">location_on</span>
                <p class="reveal">
                    <span>SKYCITY MALL (7th Floor), PLOT No. 403/1& 2, BLOCK A,</span>
                    <span>Mlalakuwa St, Dar-es-Salaam – Tanzania</span>
                </p>
            </div>
            <div  class="reveal">
                <span class="material-icons">mail</span>
                <p>
                    <span>info@ties.co.tz /</span>
                    <span>md@ties.co.tz</span>
                </p>
            </div>
            <div class="reveal">
                <span class="material-icons">call</span>
                <p>
                    <span>+255 653 405 687 /</span>
                    <span>+255 753 649 039</span>
                </p>
            </div>
        </div>

        <div class="menu-row">
            <img src="{% static 'app/images/logo_final.png' %}" alt="" class="reveal">
            <div>
                
                <button class="menu-btn" id="menuBtn">
                    <span class="material-icons">menu</span>
                </button>
            </div>
        </div>
    
        <nav id="navMenu">
            <div class="nav-list">
                <!-- <img src="{% static 'app/images/logo_final.png' %}" alt="" class="reveal" height="30px"> -->
                <a href="{% url 'index' %}"><li>HOME</li></a>
                <li>
                    <a href="#">ABOUT US</a>
                    <ul class="show">
                        <li><a href="{% url 'company_overview' %}">Overview</a></li>
                        <li><a href="{% url 'team' %}">Team</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">SERVICES</a>
                    <ul class="show">
                        {% for i in services %}
                            <li><a href="{% url 'services_details' i.id %}">{{ i.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                
                
                <a href="{% url 'projects' %}"><li>PROJECTS</li></a>
                <a href="{% url 'contact_us' %}"><li>CONTACT-US</li></a>
                <a href="{% url 'blog' %}"><li>BLOG</li></a>
                <a href="{% url 'gold_price' %}"><li>MINERAL-PRICES</li></a>
            </div>
            <div class="social reveal">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            
        </nav>
        
        

    </div>


    {% block content %}

    {% endblock %}


    <footer>
        <div>
            <img src="{% static 'app/images/logo_final.png' %}" alt="">
            <p>
                Tanzania Integrated Engineering Solution Company Ltd 
                (TIES) is a private company limited by shares and is 
                wholly owned by Tanzanians. TIES was established on 
                April 18th, 2019 (Certificate of Incorporation No. 
                139070410) under companies Act, 2002; under the 
                laws of The United Republic of Tanzania.
            </p>
        </div>
        <div>
            <h4>Our Services</h4>
            <div class="line"></div>
            {% for i in services %}
            <li><i class="fa-solid fa-circle"></i><a href="{% url 'services_details' i.id %}">{{i.title}}</a></li>
            {% endfor %}
            
        </div>
        <div>
            <h4>Quick Links</h4>
            <div class="line"></div>
            <li><a href=""><i class="fa-solid fa-circle"></i> Staff Mail</a></li>
            <li><a href="https://www.erb.go.tz/"><i class="fa-solid fa-circle"></i> Engineering Registration Board</a></li>
            <li><a href="https://www.crb.go.tz/"><i class="fa-solid fa-circle"></i> Contractors registration Board (CRB)</a></li>
            <li><a href="https://www.nemc.or.tz/"><i class="fa-solid fa-circle"></i> National Environment Management Council (NEMC)</a></li>
            <li><a href="https://www.madini.go.tz/"><i class="fa-solid fa-circle"></i> Ministry of Minerals</a></li>
            <li><a href="https://www.tumemadini.go.tz/"><i class="fa-solid fa-circle"></i> Mining Commission</a></li>
            <li><a href="https://chamberofmines.or.tz/"><i class="fa-solid fa-circle"></i> Tanzania Chamber of Mines</a></li>
            <li><a href="https://www.osha.go.tz/"><i class="fa-solid fa-circle"></i> Occupational Safety and Health Authority (OSHA)</a></li>
            <li><a href="https://iet.or.tz/"><i class="fa-solid fa-circle"></i> Institution of Engineers Tanzania</a></li>
        </div>
        <div>
            <h4>Contact Info</h4>
            <div class="line"></div>
            <span>
                <i class="fa-solid fa-location-dot"></i>
                <p>
                    SKYCITY MALL (7th Floor), PLOT No. 403/1&2, BLOCK A, 
                    Mlalakuwa St, P.O.Box 78629, Dar-es-salam – Tanzania
                </p>
            </span>
            <span>
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>
                    info@ties.co.tz
                </p>
            </span>
            <span>
                <i class="fa-solid fa-phone-volume"></i>
                <p>
                    +255 653 405 687 / +255 753 649 039
                </p>
            </span>
            <h6>Follow us on Social Networks</h6>
            <div>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/ties_company_ltd/"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.linkedin.com/company/99900605/admin/dashboard/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.tiktok.com/@ties_company_ltd?is_from_webapp=1&sender_device=pc"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://www.youtube.com/@tanzaniaintegratedeng.solu277"><i class="fa-brands fa-youtube"></i></a>
            </div>

            <h6>Upload page</h6>
            <p><a href="{% url 'serviceAdd' %}">Services Add</a></p>
        </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal().reveal('.reveal', {
            distance: '50px',
            duration: 1000,
            easing: 'ease-in-out',
            origin: 'bottom'
        });
    </script>



    <script>
        // Get the button and the navigation menu
        const menuBtn = document.getElementById('menuBtn');
        const navMenu = document.getElementById('navMenu');

        // Add click event listener to the button
        menuBtn.addEventListener('click', () => {
            // Toggle the display of the navigation menu
            if (navMenu.style.display === 'none' || navMenu.style.display === '') {
                navMenu.style.display = 'block'; // Show the menu
            } else {
                navMenu.style.display = 'none'; // Hide the menu
            }
        });
    </script>


    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>