{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- <div class="details">
        <h3>Blog</h3>
    </div> -->
    <div class="top-link">
        <p>Home    >    Blog details</p>
    </div>

    <div class="blog-details">
        <h5>Mining cadestral planning procedures</h5>
        <div>
            <span><i class="fa-solid fa-user-tie"></i> By McColn - IT Specialist</span>
            <span><i class="fa-solid fa-calendar-days"></i> June 12, 2024 11:00</span>
        </div>
        <p>
            Tanzania Integrated Engineering Solution Company Ltd (TIES) is a private 
            company limited by shares and is wholly owned by Tanzanians. TIES was 
            established on April 18th, 2019 (Certificate of Incorporation No. 139070410) 
            under companies Act, 2002; under the laws of The United Republic of Tanzania. It is also registered with Tanzania Revenue Authority (TRA) with Tax payer Identification number (TIN), 139-070-410.
        </p>
        <p>
            Tanzania Integrated Engineering Solution Company Ltd (TIES) is a private 
            company limited by shares and is wholly owned by Tanzanians. TIES was 
            established on April 18th, 2019 (Certificate of Incorporation No. 139070410) 
            under companies Act, 2002; under the laws of The United Republic of Tanzania. It is also registered with Tanzania Revenue Authority (TRA) with Tax payer Identification number (TIN), 139-070-410.
        </p>
        
    </div>
    
{% endblock %}