{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- <div class="details">
        <h3>Blog</h3>
    </div> -->
    <div class="top-link">
        <p>Home    >    Blog details</p>
    </div>

    <div class="blog-details">
        <h5>{{x.title}}</h5>
        <div>
            <span><i class="fa-solid fa-user-tie"></i> By {{x.uploader.username}} - IT Specialist</span>
            <span><i class="fa-solid fa-calendar-days"></i> {{x.uploaded}}</span>
        </div>
        <div>
            {{x.body|safe}}
        </div>
        
        <div>
            {{x.image.url}}
        </div>
            
        
        
        
    </div>
    
{% endblock %}