{% extends 'app/base.html' %}
{% load static %}
{% block content %}


    <div class="top-link">
        <p>Home    >    Blog</p>
    </div>

    <div style="background: #eef1f3;">
        <div class="blog">
            {% for i in x %}
            <a href="{% url 'blog_detail' i.id %}">
                <div class="card1">
                    <img src="{{i.image.url}}" alt="">
                    <div class="text-overlay">
                        <h5>Projects</h5>
                        <h6>{{i.title}}</h6>
                        <p>{{ i.body|truncatechars:100|safe }}</p>
                    </div>
                    <div class="uploader">
                        <img src="{% static 'app/images/image-3.jpg' %}" alt="">
                        <div class="left">
                            <h6>{{i.uploader.first_name}} {{i.uploader.last_name}}</h6>
                            <p>Managing Director</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            
        </div>
    </div>

    <!-- <div class="staticpart">
        <a href="{% url 'blogAdd' %}">
            <button>Tweet Blog</button>
        </a>
    </div> -->

    
{% endblock %}