{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- <div class="details">
        <h3>Blog</h3>
    </div> -->
    <div class="top-link">
        <p>Home    >    Company overview</p>
    </div>

    <div class="company_overview">
        <div class="top_overview">
            <img src="{% static 'app/images/tiesAbout.png' %}" alt="">
            <div class="descrption">
                <h5>About TIES</h5>
                <div class="line"></div>
                <p>
                    Tanzania Integrated Engineering Solution Company Ltd (TIES) 
                    is a private company limited by shares and is wholly owned 
                    by Tanzanians. TIES was established on April 18th, 2019 
                    (Certificate of Incorporation No. 139070410) under companies 
                    Act, 2002; under the laws of The United Republic of Tanzania. 
                    It is also registered with Tanzania Revenue Authority (TRA) 
                    with Tax payer Identification number (TIN), 139-070-410.
                </p>
                <p>
                    The core business of the company is CONSULTANCY SERVICES in 
                    all engineering related activities (i.e., Geology, Mining, 
                    Mineral Processing, Environment, Electrical, Civil, Telecom, 
                    Mechanical, etc).
                </p>
                <p>
                    TIES employs high calibre Senior staff and use her local 
                    and international affiliations to support our team in 
                    providing unique solutions to clients anywhere in the region.
                </p>
            </div>
        </div>

        <div class="body_overview">
            <div class="item">
                <h6>Our Mission</h6>
                <div class="line"></div>
                <p>
                    Generate and raise sustainable value for clients’ 
                    projects and products through application of best 
                    engineering practices and at very competitive prices
                </p>
            </div>
            <div class="item">
                <h6>Our Vision</h6>
                <div class="line"></div>
                <p>
                    To be the First-choice service provider in engineering and
                    related fields for local and multi-national clients of all 
                    categories (i.e. small, medium and large). We shall achieve 
                    our goals by living our company values.
                </p>
            </div>
            <div class="item">
                <h6>Core Values</h6>
                <div class="line"></div>
                <li>
                    <span class="material-icons">task_alt</span>
                    <p>Integrity</p>
                </li>
                <li>
                    <span class="material-icons">task_alt</span>
                    <p>Professionalism</p>
                </li>
                <li>
                    <span class="material-icons">task_alt</span>
                    <p>Commitment</p>
                </li>
                <li>
                    <span class="material-icons">task_alt</span>
                    <p>Care For Safety</p>
                </li>
                <li>
                    <span class="material-icons">task_alt</span>
                    <p>Health</p>
                </li>
                <li>
                    <span class="material-icons">task_alt</span>
                    <p>Environment</p>
                </li>
            </div>
        </div>
    </div>

    
    
{% endblock %}