{% extends 'app/base.html' %}
{% load static %}
{% load humanize %} 
{% block content %}

<!-- <div class="details">
    <h3>Contact Us</h3>
</div> -->
<div class="top-link">
    <p>Home    >    Gold price</p>
</div>
    <div class="gold-price">
        <table>
            <tr>
                <th>Date</th>
                <th>
                    <div>
                        <h6>Per Gram</h6>
                        <span>
                            <p>World Price</p>
                            <p>Local Price</p>
                        </span>
                    </div>
                </th>
                <th>
                    <div>
                        <h6>Per Kilogram</h6>
                        <span>
                            <p>World Price</p>
                            <p>Local Price</p>
                        </span>
                    </div>
                </th>
            </tr>

            {% for i in x %}
            <tr class="trr">
                <td>{{i.uploadedDate}}</td>
                <td>
                    <div>
                        <span>
                            <li>{{i.perGramWordUsd|floatformat:2|intcomma}} Usd</li>
                            <li id="tsh">{{i.perGramWordTzs|floatformat:2|intcomma}} Tsh</li>
                        </span>
                        <span>
                            <li>{{i.perGramLocalUsd|floatformat:2|intcomma}} Usd</li>
                            <li id="tsh">{{i.perGramLocalTzs|floatformat:2|intcomma}} Tsh</li>
                        </span>
                    </div>
                </td>
                <td>
                    <div>
                        <span>
                            <li>{{i.perKgWordUsd|floatformat:2|intcomma}} Usd</li>
                            <li id="tsh">{{i.perKgWordTzs|floatformat:2|intcomma}} Tsh</li>
                        </span>
                        <span>
                            <li>{{i.perKgLocalUsd|floatformat:2|intcomma}} Usd</li>
                            <li id="tsh">{{i.perKgLocalTzs|floatformat:2|intcomma}} Tsh</li>
                        </span>
                    </div>
                </td>
            </tr>
            {% endfor %}

            
        </table>
        
    </div>
    
{% endblock %}