{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<section class="front-page" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'app/images/image-1.jpg' %}');">
  <div class="reveal">
      <h1>Mine <span>Environment</span> and Community</h1>
      <h4>Cost Effectively solutions for your projects</h4>
      <button>Contact Us</button>
  </div>
  <div></div>
  
</section>

<section class="overview">
  <div class="text">
      <h3 class="reveal">TIES Overview</h3>
      <div class="line reveal"></div>
      <p class="reveal">Tanzania Integrated Engineering Solution Company Ltd (TIES) is a 
          private company limited by shares and is wholly owned by Tanzanians. 
          TIES was established on April 18th, 2019 
          (Certificate of Incorporation No. 139070410) under companies Act, 2002; 
          under the laws of The United Republic of Tanzania. It is also registered 
          with Tanzania Revenue Authority (TRA) with Tax payer Identification number 
          (TIN), 139-070-410.
      </p>
      <p class="reveal">
          The core business of the company is CONSULTANCY SERVICES in all engineering 
          related activities (i.e., Geology, Mining, Mineral Processing, Environment, 
          Electrical, Civil, Telecom,Mechanical, etc).
      </p>
      <p class="reveal">
          TIES employs high calibre Senior staff and use her local and international 
          affiliations to support our team in providing unique solutions to clients 
          anywhere in the region.
      </p>
  </div>
  <div class="image-side reveal">
      <img src="{% static 'app/images/image-1.jpg' %}" alt="">
  </div>
</section>

<section class="our-services" id="services">
  <div class="top">
      <h3>Our Services</h3>
      <div class="line"></div>
  </div>
  <div class="cards">
    {% for i in services %}
      <div class="card reveal">
          <div class="circle">
              <i class="fa-solid fa-jet-fighter-up"></i>
          </div>
          <h4>{{i.title}}</h4>
          <p>{{ i.body|truncatechars:100|safe }}</p>
          <a href="{% url 'services_details' i.id %}">
            <p class="more">
                Read More
                <i class="fa-solid fa-chevron-right"></i>
            </p>
          </a>
      </div>
    {% endfor %}
      
  </div>
</section>



<section class="projects">
  <div class="header">
      <h3>Our Projects</h3>
      <div class="line"></div>
  </div>
  <div class="row">

    {% for i in projects %}
      <div class="card">
          <img src="{{i.image.url}}" alt=""  class="reveal">
          <div class="line reveal"></div>
          <h4 class="reveal">{{i.title}}</h4>
          <p class="reveal">
            {{ i.body|truncatechars:100|safe }}
          </p>
        <a href="{% url 'project_details' i.id %}">
            <div class="more reveal">
                <p>read more</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
          
      </div>
      {% endfor %}

  </div>
  <a href="{% url 'projects' %}">
    <button class="reveal">More Projects</button>
  </a>
  
  
</section>

<section class="about" style="background-image: url('{% static 'app/images/wide-1.jpg' %}');">
    <div>
        <h2 class="reveal">Work with Tanzania Integrated Engineering Solution Company for</h2>
        <h6 class="reveal">Timely and Best Solutions</h6>
    
    </div>

    <div class="row">
        <div class="card">
            <h5>50+</h5>
            <p>Completed Project</p>
        </div>
        <div class="card">
            <h5>5+</h5>
            <p>Running Project</p>
        </div>
        <div class="card">
            <h5>20+</h5>
            <p>Professional Engineers</p>
        </div>
        <div class="card">
            <h5>5+</h5>
            <p>Years of experience</p>
        </div>

  </section>

  <section class="partners" id="partners" style="background: #fff;">
    <div class="content">
        <div class="left">
            <h3>Our Clients</h3>
            <div class="line"></div>
            <h6>Trusted by Great Brands</h6>
            <p style="color: #173242;">
                TIES has succeeded in collaborating with many partners 
                to ensure their projects' success.
            </p>
            <p>
                Here is a list of some of them:
            </p>
        </div>
        <div class="right">
            <div class="scrolling-wrapper">
                <div class="card">
                    <img src="{% static 'app/images/heinan.png' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/godmwanga.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/kamal.png' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/mwamba-mining.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/synage.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/godmwanga.jpg' %}" alt="">
                </div>
                <!-- Duplicated cards for seamless scrolling -->
                <div class="card">
                    <img src="{% static 'app/images/heinan.png' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/godmwanga.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/kamal.png' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/mwamba-mining.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/synage.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img src="{% static 'app/images/godmwanga.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact">
  <div class="header" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'app/images/image-4.jpg' %}');">
      <h6>CONTACT US</h6>
      <div class="line"></div>
  </div>
  <div class="contact-body">
      <div class="row">
          <div class="left">
              <h3>Let's working together</h3>
              <p>
                  Would you like to speak to one of our Professional 
                  Engineers over the phone? Just submit your details 
                  and we’ll be in touch shortly.
              </p>
              <div class="item">
                  <i class="fa-solid fa-phone-volume"></i>
                  <span>
                      <p>Call us for enquery</p>
                      <h6>+255 789 789 789</h6>
                  </span>
              </div>
              <div class="item">
                  <i class="fa-solid fa-envelope"></i>
                  <span>
                      <p>Email any time</p>
                      <h6>info@ties.co.tz</h6>
                  </span>
              </div>
              <div class="item">
                  <i class="fa-solid fa-location-dot"></i>
                  <span>
                      <p>Visit Our office</p>
                      <h6>SKYCITY MALL (7th Floor), Dar-es-Salaam – Tanzania</h6>
                  </span>
              </div>
          </div>
          <div class="right">
            <form action="{% url 'messageSending' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <input type="text" name="fullName" placeholder="Your name">
                    <input type="text" name="email" placeholder="Your Email">
                </div>
                <input type="text" name="phoneNumber" placeholder="Your Phone number">
                <textarea name="message" id="" rows="5"></textarea>
                <button type="submit">Send message</button>
            </form>
          </div>
      </div>
  </div>
  
</section>

<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.2526940967978!2d39.218239308620426!3d-6.770733966178974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4f269aa52ae9%3A0xe875f348d72724f5!2sSKYCITY%20MALL!5e1!3m2!1ssw!2stz!4v1725641482048!5m2!1ssw!2stz" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock %}