
{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<!-- <div class="details">
    <h3>Projects</h3>
</div> -->
<div class="top-link">
    <p>Home    >    Projects</p>
</div>

<div class="section-title">
    <h5>Running Projects</h5>
    <div class="line"></div>
</div>

<div class="projects-page">
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    
    

</div>


<div class="section-title">
    <h5>Completed Projects</h5>
    <div class="line"></div>
</div>

<div class="projects-page">
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    <div class="card">
        <img src="{% static 'app/images/image-5.jpg' %}" alt="">
        <div class="primary">
            <h6>TSF Design in Geita</h6>
            <p>Designing and development of TSF and commercialization process</p>
        </div>
        <div class="secondary"></div>
    </div>
    
    

</div>
    
{% endblock %}