
{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<!-- <div class="details">
    <h3>Projects</h3>
</div> -->
<div class="top-link">
    <p>Home    >    Projects</p>
</div>

<div class="section-title">
    <h5>Running Projects</h5>
    <div class="line"></div>
</div>



<div class="project-two">
    {% for i in ongoingProject %}
    <div class="card1">
        <img src="{{i.image.url}}" alt="">
        <div class="text-sec">
            <h6>{{i.title}}</h6>
            <p>Location: {{i.location}}</p>
            <p>Client: {{i.client}}</p>

            <div>
                <!-- <img src="{% static 'app/images/image-5.jpg' %}" alt=""> -->
                 <a href="{% url 'project_details' i.id %}">
                    <button>View Details</button>
                 </a>
            </div>
        </div>
    </div>
    {% endfor %}
    
    
</div>



<div class="section-title">
    <h5>Completed Projects</h5>
    <div class="line"></div>
</div>

<div class="project-two">
    {% for i in completedProject %}
    <div class="card1">
        <img src="{{i.image.url}}" alt="">
        <div class="text-sec">
            <h6>{{i.title}}</h6>
            <p>Location: {{i.location}}</p>
            <p>Client: {{i.client}}</p>

            <div>
                <!-- <img src="{% static 'app/images/image-5.jpg' %}" alt=""> -->
                 <a href="{% url 'project_details' i.id %}">
                    <button>View Details</button>
                 </a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>

<div class="staticpart">
    <a href="{% url 'projectAdd' %}">
        <button>Add Project</button>
    </a>
</div>
    
{% endblock %}