
{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="top-link">
    <p>Home    >    Projects > Project Details</p>
</div>

<div class="project_detail">
    <div class="detail_left">
        <div class="line"></div>
        <h5>TSF Design in Mwanga Gold Mine</h5>
        <div class="list">
            <div class="item">
                <h6>PROJECT</h6>
                <p>{{project_detail.title}}</p>
            </div>
            <div class="item">
                <h6>LOCATION</h6>
                <p>{{project_detail.location}}</p>
            </div>
            <div class="item">
                <h6>CLIENT</h6>
                <p>{{project_detail.client}}</p>
            </div>
            <div class="item">
                <h6>TIMEFRAME</h6>
                <p>{{project_detail.timeframe}}</p>
            </div>
            <div class="item">
                <h6>COMMODITIES</h6>
                <p>{{project_detail.Commodities}}</p>
            </div>
            
        </div>
        <img src="{{project_detail.image.url}}" alt="">
        <div class="text">
            {{project_detail.body|safe}}
        </div>
        <h6>Site Pictures</h6>
        <div class="project_img">
            {% for i in project_images %}
                <img src="{{i.image.url}}" alt="">
            {% endfor %}
        </div>
    </div>
    <div class="detail_right">
        <div class="categories">
            <h5>Our Services</h5>
            <div class="line"></div>
            <div class="services">
                {% for i in services %}
                <p>{{i.title}}</p>
                {% endfor %}
            </div>
        </div>

        <div class="help">
            <h6>How can we help you</h6>
            <p>
                Contact us at TIES office located at Sky City
                Mall (7th Floor) opposite Mlimani City in Kinondoni
                Dar es salaam
                or submit a business inquiry online
            </p>
            <button>Contact</button>
        </div>
    </div>
</div>



{% endblock %}