
{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="top-link">
    <p>Home    >    Projects > Project Details</p>
</div>

<div class="project_detail">
    <div class="detail_left">
        <div class="line"></div>
        <h5>TSF Design in Mwanga Gold Mine</h5>
        <div class="list">
            <div class="item">
                <h6>PROJECT</h6>
                <p>{{project_detail.title}}</p>
            </div>
            <div class="item">
                <h6>LOCATION</h6>
                <p>{{project_detail.location}}</p>
            </div>
            <div class="item">
                <h6>CLIENT</h6>
                <p>{{project_detail.client}}</p>
            </div>
            <div class="item">
                <h6>TIMEFRAME</h6>
                <p>{{project_detail.timeframe}}</p>
            </div>
            <div class="item">
                <h6>COMMODITIES</h6>
                <p>{{project_detail.Commodities}}</p>
            </div>
            
        </div>
        <img src="{{project_detail.image.url}}" alt="">
        <div class="text">
            {{project_detail.body|safe}}
        </div>
        <h6>Site Pictures</h6>
        <div class="project_img">
            {% for i in project_images %}
                <img src="{{i.image.url}}" alt="">
            {% endfor %}
            <button id="openModalBasic">Add Picture</button>
        </div>
    </div>
    <div class="detail_right">
        <div class="categories">
            <h5>Our Services</h5>
            <div class="line"></div>
            <div class="services">
                <p>Feasibility Study</p>
                <p>Feasibility Study</p>
                <p>Feasibility Study</p>
                <p>Feasibility Study</p>
                <p>Feasibility Study</p>
            </div>
        </div>

        <div class="help">
            <h6>How can we help you</h6>
            <p>
                Contact us at TIES office located at Sky City
                Mall (7th Floor) opposite Mlimani City in Kinondoni
                Dar es salaam
                or submit a business inquiry online
            </p>
            <button>Contact</button>
        </div>
    </div>
</div>

        <!--Project Add -->
        <div id="basic" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              
              <section class="info">
                
                <form action="{% url 'upload_project_image' project_detail.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>Leave Request Form</h5>
                    
                    <div class="row">
                        <div>
                            <label for="startDate">Reason or Description</label>
                            <input type="file" name="image">
                        </div>
                    </div>
                    
                    <button type="submit">Submit</button>
                </form>
              </section>
        
            </div>
        </div>

        <!--Basic info Script -->
<script>
    // Get the modal
    var modal = document.getElementById("basic");
  
    // Get the button that opens the modal
    var btn = document.getElementById("openModalBasic");
  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
  
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

{% endblock %}