
{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<!-- <div class="details">
    <h3>Projects</h3>
</div> -->
<div class="top-link">
    <p>Home    >    Service Details</p>
</div>

<div class="services_details">
    <img src="{{service_detail.image.url}}" alt="">

    <h5>{{service_detail.title}}</h5>
    <div class="line"></div>
    {{service_detail.body|safe}}

    <div class="bottom">
        <div class="left">
            <h6>Our key services in this department include:</h6>
            <div class="line"></div>
            {% for i in service_points %}
            <ul>
                <span class="material-icons">task_alt</span>
                <p>{{i.point}}</p>
            </ul>
            {% endfor %}
            
            <button id="openModalBasic">Add Service</button>
        </div>
        <div class="right">
            <img src="{{service_detail.image.url}}" alt="">
        </div>
    </div>
</div>


        <!--Project Add -->
        <div id="basic" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              
              <section class="info">
                
                <form action="{% url 'upload_service_point' service_detail.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>Add new service in {{service_detail.title}}</h5>
                    
                    <div class="row">
                        <div>
                            <label for="startDate">Add New</label>
                            <input type="text" name="point">
                        </div>
                    </div>
                    
                    <button type="submit">Submit</button>
                </form>
              </section>
        
            </div>
        </div>

        <!--Basic info Script -->
<script>
    // Get the modal
    var modal = document.getElementById("basic");
  
    // Get the button that opens the modal
    var btn = document.getElementById("openModalBasic");
  
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
  
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
  
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>

    
{% endblock %}