
{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<!-- <div class="details">
    <h3>Projects</h3>
</div> -->
<div class="top-link">
    <p>Home    >    Service Details</p>
</div>

<div class="services_details">
    <img src="{{service_detail.image.url}}" alt="">

    <h5>{{service_detail.title}}</h5>
    <div class="line"></div>
    {{service_detail.body|safe}}

    <div class="bottom">
        <div class="left">
            <h6>Our key services in this department include:</h6>
            <div class="line"></div>
            {% for i in service_points %}
            <ul>
                <span class="material-icons">task_alt</span>
                <p>{{i.point}}</p>
            </ul>
            {% endfor %}
            
            
        </div>
        <div class="right">
            <img src="{{service_detail.image.url}}" alt="">
        </div>
    </div>
</div>



    
{% endblock %}