
{% extends 'app/base.html' %}
{% load static %}
{% block content %}


<!-- <div class="details">
    <h3>Projects</h3>
</div> -->
<div class="top-link">
    <p>Home    >    Service Details</p>
</div>

<div class="services_details">
    <img src="{% static 'app/images/coln1.jpg' %}" alt="">

    <h5>Geology and Resources</h5>
    <div class="line"></div>
    <p>
        Our geological team has a wealth of experience in working 
        with most mineral occurrences and our reporting is in line 
        with international reporting requirements.
    </p>
    <p>
        We are committed to providing critical advice and practical 
        solutions for the sustainable management of mineral resources. 
        We review, assess, design, and implement exploration programmes 
        to answer critical geological questions while adhering to 
        exploration budgetary constraints.
    </p>

    <div class="bottom">
        <div class="left">
            <h6>Our key services in this department include:</h6>
            <div class="line"></div>
            <ul>
                <span class="material-icons">task_alt</span>
                <p>Mineral Exploration</p>
            </ul>
            <ul>
                <span class="material-icons">task_alt</span>
                <p>Mineral Exploration</p>
            </ul>
            <ul>
                <span class="material-icons">task_alt</span>
                <p>Mineral Exploration</p>
            </ul>
            <ul>
                <span class="material-icons">task_alt</span>
                <p>Mineral Exploration</p>
            </ul>
        </div>
        <div class="right">
            <img src="{% static 'app/images/coln1.jpg' %}" alt="">
        </div>
    </div>
</div>

    
{% endblock %}