{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- <div class="details">
        <h3>Blog</h3>
    </div> -->
    <div class="top-link">
        <p>Home    >    TIES Team</p>
    </div>

    <div class="team_details">
        <div class="left">
            <h5>Dr. Alphonce Wikedzi</h5>
            <h6>Managing Director</h6>
            <img src="{% static 'app/images/coln1.jpg' %}" alt="">
            <div class="card">
                <span class="material-icons">forward_to_inbox</span>
                <div class="cardtext">
                    <h5>Email Address</h5>
                    <p>director@ties.co.tz</p>
            </div>
            </div>
        </div>
        <div class="right">
            <h5>Profile</h5>
            <div class="line"></div>
            <p>
                Dr. Wikedzi has more than 15 years’ experience as consulting 
                Mineral Processing Engineer with specialization in design and 
                optimization of mineral processing systems, comminution and 
                mineral liberation.
            </p>
            <p>
                He has an extensive experience on Mining Projects Feasibility 
                studies, Mining Projects Risk Assessment, Mineral processes 
                flowsheet development, Mineral Processing Plant design, Mine 
                Closure Plan, Tailing’s storage facility design and stability 
                analysis as well as Mineral Processes simulation and Optimization.
            </p>
            <p>
                He has previously worked as metallurgist in different mining companies 
                in Tanzania, Sweden and Germany.
            </p>
            <p>
                He has also extensive experience in the application of key mineral 
                processing softwares such as MODSIM, JksimMet, MLA Dataview, USIMPACK 
                and HSC Sim.
            </p>
            <p>
                He holds BSc. degree in mineral processing engineering from the University 
                of Dar es Salaam, MSc. degree in Minerals and Metallurgical Engineering from 
                Lulea University of Technology (Sweden) and PhD in Mineral Processing 
                Engineering from Freiberg University of Mining and Technology (Germany).
            </p>
        </div>
    </div>
 
{% endblock %}