{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- <div class="details">
        <h3>Blog</h3>
    </div> -->
    <div class="top-link">
        <p>Home    >    TIES Team</p>
    </div>

    <div class="team">
        <h5>Our Team</h5>
        <div class="line"></div>
        <p>
            TIES’s technical team comprises of experienced professional 
            geologists and engineers with over ten-year experience in 
            consulting industry locally and internationally. We can 
            timely develop optimum solutions to engineering projects of all magnitudes.
        </p>

        <div class="members">
            <div class="team_item">
                <img src="{% static 'app/images/coln1.jpg' %}" alt="">
                <h6>Cornel Mtavangu</h6>
                <p>IT and System Developer</p>
            </div>
            <div class="team_item">
                <img src="{% static 'app/images/coln.jpg' %}" alt="">
                <h6>Cornel Mtavangu</h6>
                <p>IT and System Developer</p>
            </div>
            <div class="team_item">
                <img src="{% static 'app/images/coln.jpg' %}" alt="">
                <h6>Cornel Mtavangu</h6>
                <p>IT and System Developer</p>
            </div>
            <div class="team_item">
                <img src="{% static 'app/images/coln.jpg' %}" alt="">
                <h6>Cornel Mtavangu</h6>
                <p>IT and System Developer</p>
            </div>
            <div class="team_item">
                <img src="{% static 'app/images/coln1.jpg' %}" alt="">
                <h6>Cornel Mtavangu</h6>
                <p>IT and System Developer</p>
            </div>
            <div class="team_item">
                <img src="{% static 'app/images/coln1.jpg' %}" alt="">
                <h6>Cornel Mtavangu</h6>
                <p>IT and System Developer</p>
            </div>
        </div>
    </div>
 
{% endblock %}